# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the built binary
bin
/cert-manager-webhook-oci

# Generated manifiest
_out

# Test data and tools
/testdata/oci/*
!/testdata/oci/*.sample
!/testdata/oci/config.json
/kubebuilder

.idea
.DS_store

